
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 350 65% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 24%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 350 65% 47%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 24%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 350 65% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 350 65% 47%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 350 65% 47%;
    --sidebar-ring: 350 65% 47%;
  }

  .dark {
    --background: 0 0% 24%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 350 65% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 220 8% 80%;

    --accent: 0 0% 16%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 350 65% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inter;
    font-family: 'Inter', sans-serif;
  }
}
